In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [2]:
#Define path for chromedriver and call upon it
executable_path = {'executable_path': 'C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# URL of page to be scraped
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)
time.sleep(5)

In [4]:
#Use BeautifulSoup to parse website w lxml parser
nasa_html = browser.html
nasa_soup = bs(nasa_html, 'lxml')

In [5]:
# Retrieve the parent for all articles - use find_all if more than one record needed
articles = nasa_soup.find('li', class_='slide')

# scrape the article title - use result in place of results for loop
news_title = articles.find('div', class_='content_title').text
    
# scrape the article paragraph - use result in place of results for loop
news_p = articles.find('div', class_='article_teaser_body').text

# print article data
print('-----------------')
print(news_title)
print(news_p)

-----------------
A New Video Captures the Science of NASA's Perseverance Mars Rover
With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.

In [6]:
#New URL of page to be scraped
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [7]:
#Use BeautifulSoup to parse website w lxml parser
image_html = browser.html
image_soup = bs(image_html, 'lxml')

In [8]:
# scrape the image url
featured_image = image_soup.find('a', class_='button fancybox')['data-fancybox-href']
featured_image_url = f'https://www.jpl.nasa.gov{featured_image}'

# print image url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16105_ip.jpg

In [9]:
#New URL of page to be scraped
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
time.sleep(5)

In [10]:
#Use BeautifulSoup to parse website w lxml parser
twitter_html = browser.html
twitter_soup = bs(twitter_html, 'lxml')

In [11]:
# Retrieve the parent for first tweet
twitter = twitter_soup.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')

# scrape the latest weather tweet
mars_weather = twitter.find('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text

# print tweet
print(mars_weather)

InSight sol 591 (2020-07-25) low -91.2ºC (-132.2ºF) high -15.5ºC (4.2ºF)
winds from the WNW at 7.5 m/s (16.9 mph) gusting to 19.0 m/s (42.5 mph)
pressure at 7.90 hPa

In [12]:
#New URL of page to be scraped
facts_url = 'https://space-facts.com/mars/'

#use the read_html function in Pandas to automatically scrape any tabular data from page
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
#Create DataFrame from first table in list
df = tables[0]
df.columns = ['Description', 'Values']
df.head()

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [14]:
#Set Index to Description
df.set_index('Description', inplace=True)
df.head()

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [15]:
# Convert DataFrame to HTML and store in variable
mars_facts_table = df.to_html(table_id="Mars Planet Profile", border="2", justify="left", escape=False)
mars_facts_table

'<table border="2" class="dataframe" id="Mars Planet Profile">\n  <thead>\n    <tr style="text-align: left;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos & Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
#New URL of page to be scraped
astro_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [17]:
#Initialize empty list to store dictionaries
hemisphere_image_urls = []

#Run loop to click through each image on home page and save title and image url
for x in range(0, 4):
    browser.visit(astro_url)

    #Click link for each image with Enhanced in the title
    browser_list = browser.links.find_by_partial_text('Enhanced')
    browser_list[x].click()
    
    astro_html = browser.html
    astro_soup = bs(astro_html, 'lxml')
    
    # Retrieve title of Hemisphere
    title = astro_soup.find('h2', class_='title').text
    
    # Retrieve image url
    image = astro_soup.find('img', class_='wide-image')['src']
    img_url = f'https://astrogeology.usgs.gov{image}'

    # print title and image url
    print(title)
    print(img_url)
    
    # add each element to dictionary and then append to list
    dict = {"title":title, "img_url":img_url}
    hemisphere_image_urls.append(dict)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [18]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [19]:
browser.quit()